*.iml
.gradle
/local.properties
/.idea
/.idea/**
/build
/app/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.ap_
*.dex
*.keystore
*.jks
keystore.properties
local.properties
extracted_covers/
scripts/
